/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
div, body{
	box-sizing: border-box;
}

/* Portrait layout (default) */


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.barra_titulo{
	display: flex;
	padding: 10px;
	justify-content: flex-start;
	color: #fff;
	background: #263238;
	width: 100%;
}
.barra_titulo h1{
	width: 100%;
	text-transform: none;
	text-align: center;
	font-size: 18px;
}
.conteudo, #resultado{
	padding:0px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}
#resultado{
	padding: 10px;
	height: 100%;
    padding-bottom: 20px;
}
.caractere {
	display: block;
	width: 20px;
	float: left;
	line-height: 20px;
	text-align: center;
	min-height: 10px;
	text-transform: uppercase;
	font-size: 18px;
}
.letra{
    width: 20px;
    padding: 0px;
    margin-right: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    float: left;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.input{
	border-radius: 5px;
    border:1px solid #33333f;
}
.input:focus{
	box-shadow: 0px 0px 0px 3px #ff8000;
}
#texto{
    width: 90%;
    margin-bottom: 15px;
    border:none;
    border-bottom:2px solid #33333f;
    text-transform: uppercase;
    font-size: 14px;
    padding:10px 20px;
    display: flex;
    justify-content: flex-start;
}

button{
    width: 50%;
    padding: 10px;
    border:none;
    border-radius: 5px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    background: #ff6f00;
    text-transform: uppercase;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
#converter{
    bottom: 100px;
}#verificar{
    bottom: 15px;
}

.palavra {
    display: inline-block;
    margin-left: 10pt; 
}